header
    .logo-box
        .logo Here the logo
        nav.header-nav
            ul.header-list
                li.header-list-item 
                    a.header-list-link(href="/") Home
                li.header-list-item 
                    a.header-list-link(href="/about") About
                li.header-list-item 
                    a.header-list-link(href="/store") Store
                li.header-list-item 
                    a.header-list-link(href="/testimonials") Testimonials