header
    .logo-box
        .logo Here the logo,
        nav.header-nav
            ul.header-list
                li.header-list-item 
                    a.header-list-link(class=(currentPage === "/" ? "list-link-active" : "") href="/") Home
                li.header-list-item 
                    a.header-list-link(class=(currentPage === "/about" ? "list-link-active" : "") href="/about") About
                li.header-list-item 
                    a.header-list-link(class=(currentPage === "/store" ? "list-link-active" : "") href="/store") Store
                li.header-list-item 
                    a.header-list-link(class=(currentPage === "/testimonials" ? "list-link-active" : "") href="/testimonials") Testimonials