*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.list-link-active .list-link-active:link,
.list-link-active:visited {
  color: red;
  font-size: 1.5rem;
  font-weight: bolder; }

.slider-container {
  display: flex; }

.slider-img {
  display: block;
  max-width: 20rem;
  height: auto; }
