*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.list-link-active .list-link-active:link,
.list-link-active:visited {
  color: red;
  font-size: 1.5rem;
  font-weight: bolder; }

.slider-container {
  margin: 0 auto;
  display: block;
  position: relative;
  max-width: 30rem;
  overflow: hidden; }

.slider-wrapper {
  transform: translateX(-10rem);
  display: inline-flex; }

.slider-img {
  display: inline-block;
  height: 100%;
  max-width: 10rem;
  width: 10rem;
  transition: transform 1s ease;
  padding: 1rem; }
