*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.list-link-active .list-link-active:link,
.list-link-active:visited {
  color: red;
  font-size: 1.5rem;
  font-weight: bolder; }

.slider-container {
  display: inline-flex;
  position: relative; }

.slider-img {
  display: inline-block;
  height: 100%;
  width: 20%;
  transition: transform 1s ease;
  padding: 1rem; }
