.details {
  // display: inline-block;
  border: 1px black solid;
  &-mouse-square {
    position: absolute;
    border: 1px solid rgba(0, 0, 0, 0.4);
    width: $square-lens-width;
    height: $square-lens-height;
  }
}

[js-attr="img-lens"] {
  width: $square-lens-width;
  height: $square-lens-height;
  background: black;
}
