.item {
  &-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  &-container {
    position: relative;
    display: inline-block;
    width: 25%;
  }
  &-img {
    max-width: 100%;
    display: block;
    height: auto;
  }
}
