.slider {
  &-container {
    display: inline-flex;
    position: relative;
  }
  &-img {
    display: inline-block;
    height: 100%;
    width: 20%;
    transition: transform 1s ease;
    padding: 1rem;
  }
}
