.slider {
  &-container {
    display: inline-flex;
    position: relative;
  }
  &-img {
    display: inline-block;
    height: 100%;
    width: 20%;
    transform: transition 1s ease;
    padding: 2rem;
  }

  &-center {
    //transform: scale(1.3);
  }
}
