.store {
  &-results {
    &-container {
      position: relative;
      display: flex;
      justify-content: space-around;
    }
  }

  &-item {
    &-container {
      max-width: 30%;
    }
    &-wrapper {
    }
    &-img {
      position: relative;
      width: 100%;
      height: auto;
      display: block;
    }
    &-title {
    }
    &-body {
    }
    &-special {
    }
    &-prize {
    }
    &-date {
    }
  }
}
