.testimonials {
  &-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  &-container {
    display: inline-block;
    min-width: 20rem;
    padding: 2rem;
    margin: 2rem;
    width: 25%;
    text-align: center;
  }
}
