.welcome-wrapper {
  position: relative;
  width: 100vw;
  height: 100vh;
  top: 0px;
  left: 0px;
  z-index: 1;
  &::after {
    // if a layer needed on front
    content: "";
    width: 0%;
    height: 0%;
    z-index: 1;
    background: rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 0;
    right: 0;
  }
  &-list {
    position: relative;
    top: 0;
    left: 0;
    z-index: -1;
    max-height: 100vh;
    // overflow: hidden;
    &-title {
      font-size: 3rem;
      position: absolute;
      top: 10%;
      left: 10%;
      font-family: "BebasNeueRegular", "Arial Narrow", Arial, sans-serif;
      font-size: 240px;
      padding: 0;
      line-height: 200px;
    }
    &-item {
      position: absolute;
      overflow: hidden;
      top: 0;
      left: 0;
      width: 100vw;
      max-height: 100vh;
      height: 100vh;
      opacity: 0;
      // animations cross browser
      -webkit-animation: fading-img 36s linear infinite 0s;
      -moz-animation: fading-img 36s linear infinite 0s;
      -o-animation: fading-img 36s linear infinite 0s;
      -ms-animation: fading-img 36s linear infinite 0s;
      animation: fading-img 36s linear infinite 0s;
    }

    
    // setup images

    &-item:nth-child(1) {
      background-image: url(../img/bitbox_big.jpg);
    }
    &-item:nth-child(2) {
      background-image: url(../img/guitar.jpg);
      -webkit-animation-delay: 6s;
      -moz-animation-delay: 6s;
      -o-animation-delay: 6s;
      -ms-animation-delay: 6s;
      animation-delay: 6s;
    }
    &-item:nth-child(3) {
      background-image: url(../img/office-chair.jpg);
      -webkit-animation-delay: 12s;
      -moz-animation-delay: 12s;
      -o-animation-delay: 12s;
      -ms-animation-delay: 12s;
      animation-delay: 12s;
    }
    &-item:nth-child(4) {
      background-image: url(../img/ratchet-kit.jpg);
      -webkit-animation-delay: 18s;
      -moz-animation-delay: 18s;
      -o-animation-delay: 18s;
      -ms-animation-delay: 18s;
      animation-delay: 18s;
    }
    &-item:nth-child(5) {
      background-image: url(../img/rustic-table.jpg);
      -webkit-animation-delay: 24s;
      -moz-animation-delay: 24s;
      -o-animation-delay: 24s;
      -ms-animation-delay: 24s;
      animation-delay: 24s;
    }
    &-item:nth-child(6) {
      background-image: url(../img/boshbox_big.jpg);
      -webkit-animation-delay: 30s;
      -moz-animation-delay: 30s;
      -o-animation-delay: 30s;
      -ms-animation-delay: 30s;
      animation-delay: 30s;
    }

    // TITLE
    &-title:nth-child(2) {
      -webkit-animation-delay: 6s;
      -moz-animation-delay: 6s;
      -o-animation-delay: 6s;
      -ms-animation-delay: 6s;
      animation-delay: 6s;
    }
    &-title:nth-child(3) {
      -webkit-animation-delay: 12s;
      -moz-animation-delay: 12s;
      -o-animation-delay: 12s;
      -ms-animation-delay: 12s;
      animation-delay: 12s;
    }
    &-title:nth-child(4) {
      -webkit-animation-delay: 18s;
      -moz-animation-delay: 18s;
      -o-animation-delay: 18s;
      -ms-animation-delay: 18s;
      animation-delay: 18s;
    }
    &-title:nth-child(5) {
      -webkit-animation-delay: 24s;
      -moz-animation-delay: 24s;
      -o-animation-delay: 24s;
      -ms-animation-delay: 24s;
      animation-delay: 24s;
    }
    &-title:nth-child(6) {
      -webkit-animation-delay: 30s;
      -moz-animation-delay: 30s;
      -o-animation-delay: 30s;
      -ms-animation-delay: 30s;
      animation-delay: 30s;
    }
  }
}
