.welcome-wrapper {
  position: relative;
  width: 100vw;
  height: 100vh;
  top: 0px;
  left: 0px;
  z-index: 1;
  &::after {
    // if a layer needed on front
    content: "";
    width: 100%;
    height: 100%;
    z-index: 1;
    background: rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 0;
    right: 0;
  }
  &-list {
    position: relative;
    top: 0;
    left: 0;
    z-index: -1;
    &-item {
      position: absolute;
      top: 0;
      left: 0;
    }
    &-title {
      font-size: 3rem;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}
