doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
        link(rel="stylesheet", href="/css/style.css")
        // const set in the route for the different views
        title #{pageTitle};
    body 
        include includes/header
        // all the other views wil use this template and extend this block cpontent , or whatever block is needed
        block content
        include includes/footer
        script(src="/js/main.js")