
extends ../layout/index

block content

    //canvas same size of the img container, mouse hover moves the background position
    //load only the script file for canvas function

    div.header-default-space
    img.logo-img(src="/img/pen-man-logo.svg" width="50px" height="50px")
    h1.view-title Details
    p try to get variables from the route
    h1=item.title
    img(src=`/img/${item.img}` js-attr="img-detail")
    script(src="/js/imgScan.js")

    .img-lens(js-attr="img-lens")
