
form.form(js-id="form-add", action="/add", method="post")
    .form-group
        label.form-input-label(for="title") title
        input.form-input-name(type="text", id="title" name="title")
    .form-group
        label.form-input-label(for="body") body
        input.form-input-name(type="text", id="body" name="body")
    .form-group
        label.form-input-label(for="special") special
        input.form-input-name(type="text", id="special" name="special")
    .form-group
        label.form-input-label(for="prize") prize
        input.form-input-name(type="text", id="prize" name="prize")
    .form-group
        label.form-input-label(for="img") img
        input.form-input-name(type="text", id="img" name="img")

    .form-group
        input.btn-form-submit(type="submit", action=null)

h5 item inserted


if(data)
    each value in data
        p=value
