@keyframes go-big {
  100% {
    transform: scale(1.3);
  }
}
@keyframes back-sm {
  100% {
    transform: scale(1);
  }
}

//
@keyframes fading-img {
  0% {
    opacity: 0;
    animation-timing-function: ease-in;
  }
  8% {
    opacity: 1;
    animation-timing-function: ease-out;
  }
  17% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
