extends ../layout/index  

block content
   div.welcome-wrapper
      ul.welcome-wrapper-list
         li.welcome-wrapper-list-item 
            h2.welcome-wrapper-list-title abcd
         li.welcome-wrapper-list-item 
            h2.welcome-wrapper-list-title efgh
         li.welcome-wrapper-list-item 
            h2.welcome-wrapper-list-title ijkl
         li.welcome-wrapper-list-item 
            h2.welcome-wrapper-list-title mnop
         li.welcome-wrapper-list-item 
            h2.welcome-wrapper-list-title qrst
         li.welcome-wrapper-list-item 
            h2.welcome-wrapper-list-title uvwz

      //h1.view-title #{pageTitle}

      div.slider-container
         div.slider-wrapper
            img.slider-img(src="./img/ebike.jpg" alt="slider-image" )
            img.slider-img(src="./img/guitar.jpg" alt="slider-image" )
            img.slider-img.slider-img-center(src="./img/office-chair.jpg"  alt="slider-image" )
            img.slider-img(src="./img/ratchet-kit.jpg" alt="slider-image" )
            img.slider-img(src="./img/rustic-table.jpg" alt="slider-image" )

         span.slider-arrow.slider-arrow-prev(id="slider-left") <
         span.slider-arrow.slider-arrow-next(id="slider-right") >