extends ../layout/index  

block content
   h1.view-title #{pageTitle}
   div.slider-container
      img.slider-img.slider-prev(src="./img/guitar.jpg"  alt="slider-image" )
      img.slider-img.slider-center(src="./img/table-tennis-hit.jpg" alt="slider-image" )
      img.slider-img.slider-next(src="./img/table-tennis-set.jpg" alt="slider-image" )
      
